<article class="card my-3">
  <section class="card-header">
    <%= franchise.user.gravatar %>	
    <%= franchise.user.name_or_email %>
  </section>

  <div class="card-body">
  <h4><%= link_to franchise.title, franchise_path(franchise) %></h4>

  <section class="card-text">
    <time datetime="<%= franchise.formatted_created_at %>">
      <small><%= franchise.formatted_created_at %></small>
    </time>

    <p class="my-2">
      <%= truncate strip_tags(franchise.description), length: 120, omission: '...(Continued)'  %>
    </p> 
  </section> 
    <%= link_to 'Show', franchise_path(franchise.id), class: 'btn btn-primary' %> |
    <%= link_to 'Edit', edit_franchise_path(franchise.id), class: 'btn btn-secondary' %> |
    <%= link_to 'Destroy', franchise_path(franchise.id),class: 'btn btn-danger', data: {method: :delete, confirm: 'Are you sure?'}  %>
    </div>
</article>  