<nav class="panel">
  <p class="text-uppercase has-text-gray pv1 f6">filter by franchise type</p>

  <ul class="mb3 pa0">
    <li class="pv1">
      <%= link_to 'All', franchises_path, class: "button is-fullwidth is-dark" %>
    </li>

    <li class="pv1">
      <%= link_to 'Auto', franchises_path(franchise_type: "Auto"), class: "button is-fullwidth is-primary" %>
    </li>

    <li class="pv1">
      <%= link_to 'Childrens franchises', franchises_path(franchise_type: "Childrens franchises"), class: "button is-fullwidth is-link" %>
    </li>

    <li class="pv1">
      <%= link_to 'Medicine', franchises_path(franchise_type: "Medicine"), class: "button is-fullwidth is-warning" %>
    </li>

    <li class="pv1">
      <%= link_to 'Internet and IT', franchises_path(franchise_type: "Internet and IT"), class: "button is-fullwidth is-info" %>
    </li>
    <li class="pv1">
      <%= link_to 'Training and education', franchises_path(franchise_type: "Training and education"), class: "button is-fullwidth is-primary" %>
    </li>

    <li class="pv1">
      <%= link_to 'Recreation and entertainment', franchises_path(franchise_type: "Recreation and entertainment"), class: "button is-fullwidth is-link" %>
    </li>

    <li class="pv1">
      <%= link_to 'Nutrition', franchises_path(franchise_type: "Nutrition"), class: "button is-fullwidth is-warning" %>
    </li>

    <li class="pv1">
      <%= link_to 'Production', franchises_path(franchise_type: "Production"), class: "button is-fullwidth is-info" %>
    </li>
       <li class="pv1">
      <%= link_to 'Retail', franchises_path(franchise_type: "Retail"), class: "button is-fullwidth is-info" %>
    </li>
    <li class="pv1">
      <%= link_to 'Sports, health and beauty', franchises_path(franchise_type: "Sports, health and beauty"), class: "button is-fullwidth is-primary" %>
    </li>

    <li class="pv1">
      <%= link_to 'Construction', franchises_path(franchise_type: "Construction"), class: "button is-fullwidth is-link" %>
    </li>

    <li class="pv1">
      <%= link_to 'Business services (b2b)', franchises_path(franchise_type: "Business services (b2b)"), class: "button is-fullwidth is-warning" %>
    </li>

    <li class="pv1">
      <%= link_to 'Services for the public', franchises_path(franchise_type: "Services for the public"), class: "button is-fullwidth is-info" %>
    </li>
    <li class="pv1">
      <%= link_to 'Financial services', franchises_path(franchise_type: "Financial services"), class: "button is-fullwidth is-info" %>
    </li>
  </ul>
</nav>
