<h1 class="mb-4">Franchises</h1>

<%= link_to "New franchise", new_franchise_path, class: 'btn btn-outline-info' %>

<% @franchises.each do |franchise| %>
  <article class="card mt-3">
  	<div class="card-body">
      <h4><%= franchise.title %></h4>

      <section class="card-text">
	    <time datetime="<%= franchise.formatted_created_at %>">
		  <small><%= franchise.formatted_created_at %></small>
		</time>

		<p class="my-2">
		  <%= franchise.description %>
		</p> 
	  </section> 

	  	<%= link_to 'Show', franchise_path(franchise.id), class: 'btn btn-primary' %> |
	  	<%= link_to 'Edit', edit_franchise_path(franchise.id), class: 'btn btn-secondary' %> |
	  	<%= link_to 'Destroy', franchise_path(franchise.id),class: 'btn btn-danger', data: {method: :delete, confirm: 'Are you sure?'}  %>
    </div>
  </article>  
  	
<% end %>
